
global


    daemon


    maxconn 256



defaults


    mode http


    timeout connect 5000ms


    timeout client 50000ms


    timeout server 50000ms



frontend http-in


    bind *:8088


    acl apirequest path_beg /rest


    use_backend mockapi if apirequest

    default_backend webserver



backend mockapi


    option forwardfor


    server ec2api 54.222.244.228:8080 maxconn 256



backend webserver


    option forwardfor


    server webserver1 127.0.0.1:8080 maxconn 256


# =====================
