<html>
  <head>
    <title>Hello, World</title>
    <!--
    <script src="/bower_components/jquery/dist/jquery.js"></script>    
    -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body ng-app="HelloApp" role="document">
    <div class="container" role="main">
      <div class="jumbotron">
        <say-hello author="'<%= author%>'" message="'<%= message%>'"></say-hello>
      </div>
    </div>
  </body>
</html>
