<html>
    <head>
        <title>Test angular</title>
        <script type="text/javascript" src="/angular/angular.js"></script>
        <script type="text/javascript" src="/statics/angular/angular.js"></script>
    </head>
    <body ng-app="HelloApp">
      <say-hello author="'<%= author%>'" message="'<%= message%>'"></say-hello>
    </body>
</html>
