<html>
    <head>
        <title>Test Bootstrap</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">

    </head>
    <body ng-app="HelloApp">
      <div class="container" role="main">
        <div class="jumbotron">
          <say-hello author="'<%= author%>'" message="'<%= message%>'"></say-hello>
        </div>
      </div>
    </body>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/statics/angular/angular.js"></script>
</html>
