<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xbit</title>
    <link rel="stylesheet" href="/assets/styles/bootstrap.css">
    <link rel="stylesheet" href="/assets/styles/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=8c8f82d662831ead0c468d335f0b3733"></script>
<link href="/assets/styles/index.css?6f8f0400fff4a2e78d53d477897f36f5" rel="stylesheet"></head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/index.js?1550fcd5015f94c07b47"></script></body>
</html>
