<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Welcome to xBit</h1>
            </div>
        </div>
        <div class="main-login main-center">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email Address</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="Registered Email Address"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="button" class="btn btn-success btn-lg btn-block login-button">Login</button>
                </div>
                <div class="login-register">
                    <a href="/signup">Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.login-button').on('click', function () {
            var userName = $('#email').val().trim();
            var password = $('#password').val().trim();
            if (userName && password) {
                login(userName, password);
            } else {
                alertError('Please input user name and password.');
            }
        });
    });

    function login(username, password) {
        $.ajax({
            url: '/rest/settings/login',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({username: username, password: password}),
            success: function (res) {
                redirectQueryUrl();
            },
            error: function (err) {
                alertError(err);
            }
        });
    }

    function alertError(err) {
        if (typeof err === 'string') {
            alert(err)
        } else if (err && err.errmsg) {
            alert(err.errmsg);
        } else {
            alert('Unknown error.');
        }
    }

    function redirectQueryUrl() {
        window.location.href = getQueryVariable('url') || '/index';
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (decodeURIComponent(pair[0]) == variable) {
                return decodeURIComponent(pair[1]);
            }
        }
    }
</script>
</html>
