<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Xbit Register</h1>
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" id="email"  placeholder="Your Email Address ..."/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="button" class="btn btn-success btn-lg btn-block login-button">Register</button>
						</div>
						<div class="login-option-link">
                            <a href="/login">Login</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          $('.login-button').on('click', function () {
			  var email = $('#email').val().trim();
              var userName = $('#username').val().trim();
              var password = $('#password').val().trim();
              var confirm =$('#confirm').val().trim();
              if(email && userName && password && confirm) {
               if (password ===confirm) {
                 signup(email, userName, password);
               }
               else{
                 alertError('Password does not align.');
               }


              } else {
                  alertError('Please input your user name, email address and password.');
              }
          });
      });

      function signup (email, username, password) {
          $.ajax({
              url: '/rest/settings/register',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({email: email, username: username, password: password}),
              success: function(res){
                  redirectQueryUrl();
              },
			  error: function (jqXHR, textStatus, errorThrown) {
				  alert("Register Fail - " + jqXHR.status + "; " + jqXHR.responseText)
			  }
          });
      }

      function alertError (err) {
          if(typeof err === 'string') {
              alert(err)
          } else if(err && err.errmsg) {
              alert(err.errmsg);
          } else {
              alert('Unknown error.');
          }
      }

      function redirectQueryUrl () {
          window.location.href = getQueryVariable('url') || '/login';
      }

      function getQueryVariable(variable) {
          var query = window.location.search.substring(1);
          var vars = query.split('&');
          for (var i = 0; i < vars.length; i++) {
              var pair = vars[i].split('=');
              if (decodeURIComponent(pair[0]) == variable) {
                  return decodeURIComponent(pair[1]);
              }
          }
      }
  </script>
  </html>
