<html>
  <head>
    <title>Hello, World</title>
    <!--
    <script src="/bower_components/jquery/dist/jquery.js"></script>    
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    -->
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body ng-app="HelloApp">
    <say-hello author="'<%= author%>'" message="'<%= message%>'"></say-hello>
  </body>
</html>
